sudo: required
services:
  - docker

before_install:
  - docker build -t sadikr01/docker-react  -f Dockerfile.dev .

script:

script:
  - docker run -e CI=true sadikr01/docker-react npm run test -- --coverag

deploy:
  provider: elasticbeanstalk
  region: "us-east-2"
  app: "docker-react"
  env: "DockerReact-env"
  bucket_name: "elasticbeanstalk-us-east-2-687142189111"
  backet_path: "docker-react"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY

